body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    color: black;
    overflow-y: auto;
    overflow-x: auto;
    background-color: cornflowerblue;
    color: white;
}

h1.header {
    text-align: center;
    font-size: 60pt;
    padding-bottom: 0;
    margin-bottom: 1rem;
}

.buttonArea {
    display: flex;
    justify-content: center;
    padding: 1rem;
    padding-top: 0;
}

button.new {
    height: 4rem;
    width: 4rem;
    font-size: 32pt;
    border-radius: 30px;
    border: none;
}

button:hover {
    opacity: .94;
}

.formArea {
    display: flex;
    justify-content: center;
}

form {
    display: grid;
    grid-template-columns: 30rem;
    grid-template-rows: 5rem;
    border: 5px solid green;
    margin: 2rem;
    width: 30rem;
    background-color: rgb(57, 57, 159);
}

form h1 {
    grid-area: 1/1/1/-1;
    justify-self: center;
}

form>div {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

form.hidden {
    display: none;
}

.confirm {
    display: flex;
    justify-content: end;
}

.library {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-auto-rows: 240px;
    padding: 4rem;
    gap: 1rem;
}

.example {
    border: 5px solid rgb(237, 220, 106);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 10pt;
    padding: .5rem;
    overflow-y: auto;
    background-color: rgb(8, 126, 87);
    box-shadow: 3px 3px 5px rgb(164, 164, 164);
}

.example div {
    text-align: center;
}

.title {
    padding: 1rem;
    font-size: 16pt;
}

.read {
    color: rgb(71, 248, 71);
}

.notread {
    color: red;
}

.readToggle {
    cursor: pointer;
}

.delete {
    height: 1.4rem;
    width: 1.4rem;
    font-size: 9pt;
}

